# JWT Secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Internal Service Security
INTERNAL_SECRET=

# Environment
NODE_ENV=development

# Redis Cloud
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Microservices URLs
USER_SERVICE=
PRODUCT_SERVICE=
AUTH_SERVICE=

# Gateway Port
PORT=